<div class="container">
  <section id="content">
    <form action="">
      <h1>Регистрация</h1>
      <div>
        <input type="text" placeholder="login" name="login" [(ngModel)]="user.login" #login="ngModel" required="" id="login" />
      </div>
      <div>
        <input type="password" placeholder="password" name="password" [(ngModel)]="user.password" #password="ngModel" required="" id="password" />}}
      </div>
      <div>
        <input type="password" placeholder="password" name="repeatPass" [(ngModel)]="repeatPassword" #repeatPass="ngModel" required="" id="password" />
      </div>
      <div>
        <input type="firstName" placeholder="firstName" name="firstName" [(ngModel)]="" #repeatPass="ngModel" required="" id="firstName" />
      </div>
      <div>
        <input type="secondName" placeholder="secondName" name="secondName" [(ngModel)]="" #repeatPass="ngModel" required="" id="secondName" />
      </div>
      <div>
        <input type="submit" (click)="saveUser()" value="Регистрация" />
      </div>
    </form><!-- form -->

  </section><!-- content -->
</div><!-- container -->
