<div class="container">
  <section id="content">
    <form action="">
      <h1>Регистрация</h1>
      <div>
        <input type="text" placeholder="Username" required="" id="username" />
      </div>
      <div>
        <input type="text" placeholder="login" required="" id="login" />
      </div>
      <div>
        <input type="password" placeholder="password" required="" id="password" />}}
      </div>
      <div>
        <input type="password" placeholder="password" required="" id="password" />
      </div>
      <div>
        <input type="text" placeholder="dateOfBirth" required="" id="dateOfBirth" />
      </div>
      <div>
        <input type="text" placeholder="email" required="" id="email" />
      </div>
      <div>
        <input type="text" placeholder="country" required="" id="country" />
      </div>
      <div>
        <input type="text" placeholder="sex" required="" id="sex" />
      </div>
      <div>
        <input type="submit" value="Регистрация" />
        <a href="#">Lost your password?</a>
        <a href="#">Register</a>
      </div>
    </form><!-- form -->

  </section><!-- content -->
</div><!-- container -->
