<div id="userInfo">
  <h1><span>Личные данные</span></h1>
  <h3 id="inf">Основная информация (например, имя и фото), которую вы используете в наших сервисах.</h3>
  <table>
    <tr *ngFor="let user of users">
      <td>Логин пользователя:</td>
      <!--<td *ngFor="let user of users">{{user.login}}</td>-->
      <td>{{(user.login)}}</td>
    </tr>
    <tr *ngFor="let customer of customers">
      <td>Имя пользователя:</td>
      <td>{{customer.firstName}}</td>
    </tr>
    <tr *ngFor="let customer of customers">
      <td>Фамилия пользователя:</td>
      <td>{{customer.secondName}}</td>
    </tr>
  </table>
</div>
