<div id="userInfo">
  <h1><span>Личные данные</span></h1>
  <h3 id="inf">Основная информация (например, имя и фото), которую вы используете в наших сервисах.</h3>
  <table>
    <tr></tr>
    <tr>
      <td>Имя пользователя:</td>
      <td></td>
    </tr>
    <tr>
      <td>Дата рождения:</td>
      <td><ng-container *ngFor="let customer of customers">
       id {{customer.id}} firstName {{customer.firstName}} secondName{{customer.secondName}}userID{{customer.userID}}
      </ng-container>
      </td>
    </tr>
    <tr>
      <td>Пол</td>
      <ng-container *ngIf="users">
      <td><ng-container *ngFor="let user of users">
        {{user.password}}


      </ng-container>

      </td>
      </ng-container>
      <ng-container *ngIf="customers">
        <td><ng-container *ngFor="let customer of customers">
          {{customer.firstName}}

        </ng-container>

        </td>
      </ng-container>
      <ng-container *ngIf="users">
        <td><ng-container *ngFor="let user of users">
          id:{{user.id}} login:{{user.login}} pass:{{user.password}}

        </ng-container>

        </td>
      </ng-container>
    </tr>
  </table>

</div>
