<div id="main">
  <div class="div1">
    <h2>Категории товров</h2>
    <span>Большой выбор всего, что может вам пригодиться</span>
    <div>
      <a class = "btn" (click)="getAudio()">Аудиотехника</a>
    </div>
    <div>
      <a class = "btn"(click)="getTV()">Видеотехника</a>
    </div>
    <div>
      <a class = "btn" (click)="getMobile()">Мобильные телефоны</a>
    </div><div>
      <a class = "btn" (click)="getAll()">Показать все</a>
    </div>
  </div>


</div>

<div id="main" *ngFor="let service of services">
  <div class="div"><img src="{{service.picturePath}}" height="200" width="150"></div>
    <div class="div">
      {{service.serviceName}}
    </div>
    <div class="div" >
      {{service.serviceDescription}}
    </div>
    <div>
      <a class = "btn" (click)="subscribeClick(service)">Купить за {{service.price}}$</a>
    </div>
</div>


